/* Start nav bar styling */

#wrapper {
	width: 900px;
	height: 500px;
	margin: 0 auto;
}

.header-bar {
	width: 100%;
	height: fit;
	background-color: red;
	opacity: .9;
	border-radius: 0 0 3px 3px;
	position: fixed;
	top: 0;
	left: 0;

}

.header-bar-box {
	height: 50px;
	width: fit;
	float: left;
}

#logo {
	margin: 5px 0 0 30px;
}


#nav {
	float: right;
	margin-right: 30px;
}

#nav ul {
	list-style-type: none;
}

#nav li {
	display: inline;
	margin-left: 10px;
	border-radius: 5px;
}

#nav a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 19px;
	opacity: 1;
	transition: color .5s ease;
}

#nav a:hover {
	color: yellow;
}

/* End of header and nav styling */

/* Zack Eidman index.html styling */
#mainwrap {
	width: 900px;
	margin: 0 auto;
}

#title {
	font-size: 6em;
	text-align: center;
	margin: 150px auto 0 auto;
	-webkit-transition-property:color, text;
	-webkit-transition-duration: 1s, 1s;
	-webkit-transition-timing-function: linear, ease-in;
	-moz-transition-property:color, text;
	-moz-transition-duration:1s;
	-moz-transition-timing-function: linear, ease-in;

	-o-transition-property:color, text;
	-o-transition-duration:1s;
	-o-transition-timing-function: linear, ease-in;
}

#title:hover {
	color: #ffd700;
}

#choices {
	width: 900px;
	margin-top: 55px;
}


.circle {
	float: left;
	width: 375px;
	height: 375px;
	border-radius: 100%;
	margin: 0 ;
	transition: box-shadow 1s ease;
}

.circle:hover {
	box-shadow: 8px 8px 8px #000;
}

#question {
	float: left;
	text-align: center;
	margin: 0 0;
	width: 125px;
	height: 375px;
	vertical-align: middle;
}

#question img {
	margin-top: 165px;
}


.divwrapper{
	float:left;
	width:400px;
}

#nyc {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #000;
}

#chicago {
	background-image: url(../images/chicago.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #000;
}
/* end ZackEidman index.html styling */

.mainContext{
	width: 900px;
	margin: 0 auto;

	width: 900px;
	margin-top: 55px;
}


.circle {
	float: left;
	width: 375px;
	height: 375px;
	border-radius: 100%;
	margin: 0 ;
	transition: box-shadow 1s ease;
}

.circle:hover {
	box-shadow: 8px 8px 8px #000;
}

#question {
	float: left;
	text-align: center;
	margin: 0 0;
	width: 125px;
	height: 375px;
	vertical-align: middle;
}

#question img {
	margin-top: 165px;
}


.divwrapper {
	float:left;
	width:400px;
}

#nyc {
	background-image: url(images/newyork.jpg);
	background-repeat: no-repeat;
	background-position: 25% 0%;
	background-color: #000;

}

#chicago {
	background-image: url(images/chicago.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #000;
}
/* end zack eidman index.html styling */



h1{
	margin-top: 10%;
	display:block;
	float: left;
}


img{
	margin-top: 50px;
	float: left;
	clear: left;
	border-radius: 2000px;
}

#facts{
	float: right;
	margin-top: 10%;
	margin-right: 10%;
	font-size: 130%;
}

iframe{
	clear: both;
	float: left;
	position: relative;
	left: 50%;
	margin-left: -280px;
	margin-top: 10%;
}


p{
	margin:60px auto 0px auto;
	clear: both;
	font-size: 130%;
	text-align: center;
}